body, html {
    height: 100%;
}
* {
    margin: 0;
    box-sizing: border-box;
    color: #f0f0f0;
}

.wrapper {
    display: flex;
    height: 100%;
}

.left{
    background-image: url("images/coins.jpg");
    flex: .6;
    height: 100%;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2e2d2c;

}

.header-text{
    font-size: 20px;
    inline-size: 500px;
    overflow-wrap: break-word;
}

.form-box{
    display: flex;
    width: 70%;
    align-self: flex-start;
}

.form-header{
    width: 100%;
}

form{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 2em;
    text-align: left;
}